/* roboto-regular - cyrillic_latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/roboto-v18-cyrillic_latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Roboto'), local('Roboto-Regular'),
       url('../fonts/roboto-v18-cyrillic_latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/roboto-v18-cyrillic_latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/roboto-v18-cyrillic_latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/roboto-v18-cyrillic_latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/roboto-v18-cyrillic_latin-regular.svg#Roboto') format('svg'); /* Legacy iOS */
}
/* roboto-500 - cyrillic_latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/roboto-v18-cyrillic_latin-500.eot'); /* IE9 Compat Modes */
  src: local('Roboto Medium'), local('Roboto-Medium'),
       url('../fonts/roboto-v18-cyrillic_latin-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/roboto-v18-cyrillic_latin-500.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/roboto-v18-cyrillic_latin-500.woff') format('woff'), /* Modern Browsers */
       url('../fonts/roboto-v18-cyrillic_latin-500.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/roboto-v18-cyrillic_latin-500.svg#Roboto') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'HelveticaNeueCyr';
  font-style: normal;
  font-weight: 400;
  src: local('Helvetica-Neue-Cyr'), local('HelveticaNeueCyr'),
       url('../fonts/HelveticaNeueCyr-Roman.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/HelveticaNeueCyr-Roman.woff') format('woff') /* Modern Browsers */
}

@font-face {
  font-family: 'HelveticaNeueCyr';
  font-style: normal;
  font-weight: 700;
  src: local('HelveticaNeueCyr-Bold'), local('HelveticaNeueCyrBold'),
       url('../fonts/HelveticaNeueCyr-Bold.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/HelveticaNeueCyr-Bold.woff') format('woff') /* Modern Browsers */
}

body {
  font-size: 16px;
  line-height: 19px;
  font-weight 400
  font-family: 'HelveticaNeueCyr', sans-serif;
  color: #000000;
  font-style: normal;
}

*::-webkit-input-placeholder {
  color #999999
  font-size: 16px;
  line-height: 19px;
  font-weight 400
  
  opacity: 1;
}

*:-moz-input-placeholder {
  color #999999
  font-size: 16px;
  line-height: 19px;
  font-family: 'HelveticaNeueCyr', sans-serif;
  font-weight 400
  
  opacity: 1;
}

*::-moz-placeholder {
  color #999999
  font-size: 16px;
  line-height: 19px;
  font-family: 'HelveticaNeueCyr', sans-serif;
  font-weight 400
  
  opacity: 1;
}

*:-ms-input-placeholder {
  color #999999
  font-size: 16px;
  line-height: 19px;
  font-family: 'HelveticaNeueCyr', sans-serif;
  font-weight 400
  
  opacity: 1;
}