.carts-container__headline
  margin-bottom 15px
  padding-left 30px
  
  font-size 32px
  line-height 38px
  font-weight 700
  color #3a3a3a
  &--red
    color #bf404b
    
@media(max-width 1300px)
  .carts-container__headline
    padding-left 0
    
    font-size 25px
    line-height 28px
    
@media(max-width 480px)
  .carts-container__headline
    font-size 21px
    line-height 24px